<div class="container">
    <div class="row">
        <div class="col-12 col-xl-6 info">
            <p>About tindog</p><br>
            <div class="about">
                Tindog Pets stocks a wide range of pet products for both cats and dogs.
                Whether you’re in need of food, toys, medication, grooming supplies, beds, carriers
                or a host of other supplies, you’re sure to find it online from Egypt’s first and largest online store for pet owners.<br><br> 
                This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. 
            </div>
           
        </div>
        <div class="col-12 col-xl-6">
            <img src="assets/images/pets.png"  class="col-sm-6 " id="dog"> 
        </div>
    </div>
</div> 