.container {
    max-width: 90%;
      padding: 0% 2%;
      background-color:rgb(255,255,255);

      height: 800px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100px;
  }