<div class="container">
    
    <!-- ------------------------------------------form --------------------------------->
    <!-- <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3"> -->
            
    <div class="">
        <form class="form-container" >
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter your email"
                [class.is-invalid]="email.invalid" #email="ngModel" name="emailAddress" [(ngModel)]="userModel.email" required>
                <small class="text-danger" [class.d-none]="email.valid">email is Required</small>
    
            </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="enter your password"
                [class.is-invalid]="pswd.invalid" #pswd="ngModel" name="passwd" [(ngModel)]="userModel.password" required>
                <small class="text-danger" [class.d-none]="pswd.valid">password is Required</small>
    
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required [(ngModel)]="userModel.checkBox" name="checkbox">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary btn-block log-button">Log in</button>
            <small class="element-centerd">You Don't Have Account: </small><a class="centerd" routerLink="/SignUp" routerLinkActive="active">creat new account</a>
            <a href="#"></a>
        </form>
      
    
</div></div>